:root {
  margin: 0;
  padding: 0;
  background: hsla(0, 88%, 43%, 0.925);
  /*Custom themes & variables*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  margin: 0 2rem;
}

